* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #020617;
  color: white;
  font-family: system-ui;
}

.truco {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.mesa {
  display: flex;
  gap: 30px;
  align-items: center;
}

/* Times */

.time {
  background: #020617;
  padding: 25px;
  border-radius: 20px;
  width: 220px;
  text-align: center;
  box-shadow: 0 15px 40px black;
}

.time span {
  font-size: 4rem;
}

.acoes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Centro */

.centro {
  background: #020617;
  padding: 20px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.centro button {
  background: #1e293b;
}

.centro .ativo {
  background: #22c55e;
  color: black;
}

/* Botões */

button {
  border: none;
  padding: 10px;
  border-radius: 8px;
  background: #334155;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #475569;
}

/* Vencedor */

.winner {
  color: #22c55e;
  font-size: 1.4rem;
}

/* Reset */

.reset {
  background: #dc2626;
  padding: 12px 40px;
}

.reset:hover {
  background: #f87171;
}

/* Mobile */

@media(max-width:700px){
  .mesa{
    flex-direction: column;
  }

  .time{
    width:90vw;
  }
}
